.look {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    width: 90vw;
    
}
.look-img{
    min-width: 22vw;
    min-height: 500px;
    transition: 0.8s;
    object-fit: fill;
}

.look-img:hover{
    min-width: 35vw;
    max-height: 450px;
    height: 500px; 
    object-fit: fill;
}




.Look-head{
    font-weight: 600;
    font-size: 28px;
    margin: 20px 0px 10px 80px;
}