.info-main {
    /* border: 2px solid red; */
    height: 75vh;
    width: 90vw;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: relative; */
}

.info-img {
    /* border: 2px solid black; */
    height: 80vh;
    width: 45vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.info-main-img {
    /* border: 2px solid black; */
    height: 65vh;
    width: 30vw;
    margin-top: 50px;
    /* margin: 0px auto;
    display: block; */
}

.info-imgs {
    /* border: 2px solid black; */
    height: 80vh;
    width: 14vw;
    margin: 10px auto;
    
}

.info-sm-img {
    /* border: 2px solid black; */
    height: 20vh;
    width: 10vw;
    display: block;
    margin:20px auto;
}

.info-block {
    /* border: 2px solid red; */
    height: 80vh;
    width: 44vw;
    padding: 50px;
    align-content: center;
    /* position: fixed;
    margin-left: 45vw; */
}


.info-h {
    /* text-align: center; */
    font-size: 38px;
    font-weight: 600;
    cursor: pointer;
    margin: 15px auto;
}



.info-p {
    font-size: 20px;
    /* margin: 20px auto; */
}

.info-price {
    font-size: 20px;
    font-weight: 600;

}

.info-tax {
    font-size: 14px;
    font-weight: 600;

}

.info-span-price {
    font-size: 30px;
    font-weight: 800;
}

.info-review {
    font-size: 16px;
    font-weight: 600;
    margin: 12px auto;
}

.info-emi-h{
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 5px;
}

.info-emi-p{
    font-size: 14px;
}






.info-button {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid black;
    width: 30vw;
    display: block;
    margin: 30px auto;
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 35px;
    line-height: 35px;
    transition: 0.2s;
    


}




.info-button:hover {
    background-color: rgba(251, 146, 60, 0.848);
    color: white;
}